@{
    Layout = "_LayoutAdmin";
}

<h1>Добре дошли</h1>
<div class="m-t-20 text-center">
    <a asp-controller="Admin" asp-action="CreateDoctor" class="section-btn btn btn-default btn-blue smoothScroll">Добави доктор</a>
</div>
<div class="m-t-20 text-center">
    <a asp-controller="Home" asp-action="Index" class="section-btn btn btn-default btn-blue smoothScroll">Върни се към начало</a>
</div>
<div class="m-t-20 text-center">
    <a asp-action="Logout" class="section-btn btn btn-default btn-blue smoothScroll">Излез</a>
</div>
