@{
    Layout = "_LayoutDoctor";
}

@model List<CancerRegistry.Models.Accounts.Patient.DoctorDashboardPatientModel> 
<div class="content">
    <div class="row">
        <div class="col-12 col-md-6 col-lg-8 col-xl-8">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title d-inline-block">Моите пациенти</h4> <a href="patients.html" class="btn btn-primary float-right">Виж всички</a>
                </div>
                <div class="card-block">
                    <div class="table-responsive">
                        <table class="table mb-0 new-patient-table">
                            <tbody>
                                @foreach (var patient in Model)
                                {
                                <tr>
                                    <td>
                                        <img width="28" height="28" class="rounded-circle" src="assets/img/user.jpg" alt="">
                                        <h2>@patient.Name</h2>
                                    </td>
                                    <td>+@patient.PhoneNumber</td>
                                    @if (patient.DiagnoseId == -1)
                                    {
                                        <td><a href='add-diagnosis.html'><button class="btn btn-primary btn-primary-one float-right">Добави диагноза</button></a></td>
                                    }
                                    else
                                    {
                                        <td><a href='current-diagnosis.html'><button class="btn btn-primary btn-primary-one float-right">Диагноза</button></a></td>
                                    }

                                    @if (patient.LastHealthCheckId == -1)
                                    {
                                        <td><a href='add-exam-results.html'><button class="btn btn-primary btn-primary-two float-right">Добави резултати от преглед</button></a></td>
                                    }
                                    else
                                    {
                                        <td><a href='see-exam-results.html'><button class="btn btn-primary btn-primary-two float-right">Резултати от преглед</button></a></td>
                                    }

                                    @if (patient.TreatmentId == -1)
                                    {
                                        <td><a href='add-treatment.html'><button class="btn btn-primary btn-primary-three float-right">Добави лечение</button></a></td>
                                    }
                                    else
                                    {
                                        <td><a href='current-treatment.html'><button class="btn btn-primary btn-primary-three float-right">Лечение</button></a></td>
                                    }


                                </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>