<div class="content">
    <div class="row">
        <div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
            <div class="dash-widget">
                <span class="dash-widget-bg1"><i class="fa fa-stethoscope" aria-hidden="true"></i></span>
                <div class="dash-widget-info text-right">
                    <h3>1</h3>
                    <span class="widget-title1">Доктори <i class="fa fa-check" aria-hidden="true"></i></span>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
            <div class="dash-widget">
                <span class="dash-widget-bg2"><i class="fa fa-user-o"></i></span>
                <div class="dash-widget-info text-right">
                    <h3>2</h3>
                    <span class="widget-title2">Пациенти <i class="fa fa-check" aria-hidden="true"></i></span>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12 col-md-6 col-lg-8 col-xl-8">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title d-inline-block">Моите пациенти</h4> <a href="patients.html" class="btn btn-primary float-right">Виж всички</a>
                </div>
                <div class="card-block">
                    <div class="table-responsive">
                        <table class="table mb-0 new-patient-table">
                            <tbody>
                                <tr>
                                    <td>
                                        <img width="28" height="28" class="rounded-circle" src="assets/img/user.jpg" alt="">
                                        <h2>Мирела Тодорова</h2>
                                    </td>
                                    <td>+1-202-555-0125</td>
                                    <td><a href='current-diagnosis.html'><button class="btn btn-primary btn-primary-one float-right">Диагноза</button></a></td>
                                    <td><a href='see-exam-results.html'><button class="btn btn-primary btn-primary-two float-right">Резултати от преглед</button></a></td>
                                    <td><a href='add-treatment.html'><button class="btn btn-primary btn-primary-three float-right">Добави лечение</button></a></td>

                                </tr>
                                <tr>
                                    <td>
                                        <img width="28" height="28" class="rounded-circle" src="assets/img/user.jpg" alt="">
                                        <h2>Мирела Тодорова</h2>
                                    </td>
                                    <td>202-555-0127</td>
                                    <td><a href='add-diagnosis.html'><button class="btn btn-primary btn-primary-one float-right">Добави диагноза</button></a></td>
                                    <td><a href='add-exam-results.html'><button class="btn btn-primary btn-primary-two float-right">Добави резултати от преглед</button></a></td>
                                    <td><a href='add-treatment.html'><button class="btn btn-primary btn-primary-three float-right">Добави лечение</button></a></td>

                                </tr>
                                <tr>
                                    <td>
                                        <img width="28" height="28" class="rounded-circle" src="assets/img/user.jpg" alt="">
                                        <h2>Мирела Тодорова</h2>
                                    </td>
                                    <td>202-555-0127</td>
                                    <td><a href='add-diagnosis.html'><button class="btn btn-primary btn-primary-one float-right">Добави диагноза</button></a></td>
                                    <td><a href='add-exam-results.html'><button class="btn btn-primary btn-primary-two float-right">Добави резултати от преглед</button></a></td>
                                    <td><a href='add-treatment.html'><button class="btn btn-primary btn-primary-three float-right">Добави лечение</button></a></td>

                                </tr>
                                <tr>
                                    <td>
                                        <img width="28" height="28" class="rounded-circle" src="assets/img/user.jpg" alt="">
                                        <h2>Мирела Тодорова</h2>
                                    </td>
                                    <td>202-555-0127</td>
                                    <td><a href='current-diagnosis.html'><button class="btn btn-primary btn-primary-one float-right">Диагноза</button></a></td>
                                    <td><a href='see-exam-results.html'><button class="btn btn-primary btn-primary-two float-right">Резултати от преглед</button></a></td>
                                    <td><a href='current-treatment.html'><button class="btn btn-primary btn-primary-three float-right">Лечение</button></a></td>

                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>