@{
    Layout = "";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <link rel="shortcut icon" type="image/x-icon" href="~/assets/img/favicon.ico">
    <title>Здравен Раков Регистър</title>
    <link rel="stylesheet" type="text/css" href="~/assets/css-dashboards/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="~/assets/css-dashboards/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="~/assets/css-dashboards/style.css">
  
</head>

<body>
<div class="main-wrapper error-wrapper">
    <div class="error-box">
        <h1 style="font-size: 90px; color: red">Достъпът отказан!</h1>
        <a asp-controller="Home" asp-action="Index" class="btn btn-primary go-home">НАЧАЛО</a>
    </div>
</div>
<script src="~/assets/js/jquery-3.2.1.min.js"></script>
<script src="~/assets/js/popper.min.js"></script>
<script src="~/assets/js/bootstrap.min.js"></script>
</body>
</html>