@model string;
@{
    Layout = "";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Забравена парола</title>

    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans:600'>
    <link rel="stylesheet" href="~/css/style.css">

</head>
<body id="top" data-spy="scroll" data-target=".navbar-collapse" data-offset="50">


    <section class="preloader">
        <div class="spinner">
            <span class="spinner-rotate"></span>
        </div>
    </section>


    <div class="login-wrap">
        <a asp-controller="Home" asp-action="Index"><img src="~/images/logo_transparent.png" p></a>
        <div class="login-html">
            <input id="tab-1" type="radio" name="tab" class="sign-in" checked><label for="tab-1" class="tab">Забравена парола</label>
            <input id="tab-2" type="radio" name="tab" class="sign-up"><label for="tab-2" class="tab"></label>
            <div class="login-form">
                <div class="sign-in-htm">
                    <div class="group"></div>
                    <form asp-action="ForgotPassword" method="post">
                        <div class="group">
                            <label class="label">ЕГН/УИН:</label>
                            <input name="username" type="text" class="input">
                        </div>
                        <div class="group">
                            <button class="button" type="submit">Запази</button>
                        </div>
                    </form>
                    <div asp-validation-summary="All"></div>
                </div>
            </div>
            <div class="foot-lnk">
            </div>
        </div>
    </div>
</body>
</html>