@model CancerRegistry.Models.Diagnoses.Treatments.TreatmentModel;
@{
    Layout = "_LayoutDoctor";
}

<div class="row">
    <div class="col-lg-8 offset-lg-2">
        <h4 class="page-title">Постави лечение</h4>
    </div>
</div>

@if (!Model.IsExisting)
{
    <div>Няма поставена диагноза!</div>
}
else
{
    <div class="row">
        <div class="col-lg-8 offset-lg-2">
            <form asp-controller="Treatment" asp-action="Create" method="post">
                <div class="form-group">
                    <label>Име на пациент</label>
                    <h3>@Model.PatientName</h3>
                </div>

                <div class="form-group">
                    <label class="col-form-label col-md-2">Chemeotherapy</label>
                    <div class="col-md-10">
                        <select class="form-control" name="Chemeotherapy">
                            <option>-- Избери --</option>
                            <option value="C1">None</option>
                            <option value="C2">
                                Systemic adjuvant therapy as indicated by ER, PR, and HER2 status and predictive tests for chemotherapy benefit.
                            </option>
                            <option value="C3">Pre-operative systemic therapy</option>
                            <option value="C4">
                                If bone disease present, denosumab, zoledronic acid, or pamidronate.
                            </option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-form-label col-md-2">Endocrine Treatment</label>
                    <div class="col-md-10">
                        <select class="form-control" name="EndocrineTreatment">
                            <option>-- Избери --</option>
                            <option value="E0">
                                None
                            </option>
                            <option value="E1">
                                If ER-positive, consider tamoxifen for 5 years for prevention.
                            </option>
                            <option value="E2">
                                If ER-positive, tamoxifen for 10 years or aromatase inhibitor for 5 years (if post-menopausal only) or switching strategy of tamoxifen/aromatase inhibitor.
                            </option>
                            <option value="E3">
                                If ER positive, consider ovarian ablation/ suppression for premenopausal women
                            </option>
                            <option value="E4">Treatment regimen based on receptor status</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-form-label col-md-2">Radiation Treatment</label>
                    <div class="col-md-10">
                        <select class="form-control" name="Radiation">
                            <option>-- Избери --</option>
                            <option value="R0">
                                None
                            </option>
                            <option value="R1">
                                Whole breast radiation may be added to lumpectomy.
                            </option>
                            <option value="R2">
                                Radiation to whole breast and lymph nodes if involved; follows chemotherapy if provided.
                            </option>
                            <option value="R3">
                                Radiation to chest wall and lymph nodes.
                            </option>
                            <option value="R4">
                                Selective radiation to bone or brain metastases.
                            </option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-form-label col-md-2">Surgery</label>
                    <div class="col-md-10">
                        <select class="form-control" name="Surgery">
                            <option>-- Избери --</option>
                            <option value="S1">
                                Total mastectomy ± sentinel node biopsy ± reconstruction; or lumpectomy without lymph node surgery.
                            </option>
                            <option value="S2">
                                Total mastectomy or lumpectomy + axillary staging ± breast reconstruction.
                            </option>
                            <option value="S3">
                                If response to pre-operative therapy, total mastectomy or lumpectomy + axillary dissection ± delayed breast reconstruction.
                            </option>
                            <option value="S4">None</option>
                        </select>
                    </div>
                </div>


                <div class="row">
                    <div class="col-md-6">

                        <div class="form-group">

                            <label>Дата</label>

                            <div class="cal-icon">
                                <input type="text" class="form-control datetimepicker" value="@Model.End" name="End">
                            </div>
                        </div>
                    </div>
                </div>

                <input type="hidden" name="DiagnoseId" value="@Model.DiagnoseId" />
                <div class="form-group">
                    <input type="submit" value="Запази" class="btn btn-primary submit-btn" />
                </div>



            </form>
            <div class="m-t-20 text-center">
                <a asp-controller="DoctorDashboard" asp-action="Index" class="btn btn-primary submit-btn">ВРЪЩАНЕ НАЗАД</a>
            </div>
        </div>
    </div>

}