@{
    Layout = "";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Инфо за рака на гърдата</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="Tooplate">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/magnific-popup.css">

    <link rel="stylesheet" href="~/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/css/animate.css">

    <link rel="stylesheet" href="~/css/owl.carousel.css">
    <link rel="stylesheet" href="~/css/owl.theme.default.min.css">

    <!-- MAIN CSS -->
    <link rel="stylesheet" href="~/css/tooplate-style.css">

</head>
<body id="top" data-spy="scroll" data-target=".navbar-collapse" data-offset="50">

    <!-- PRE LOADER -->
    <section class="preloader">
        <div class="spinner">

            <span class="spinner-rotate"></span>

        </div>
    </section>

    <!-- HEADER -->
    <header>
        <div class="container">
            <div class="row">


            </div>
        </div>
    </header>

    <!-- MENU -->
    <section class="navbar navbar-default navbar-static-top" role="navigation">
        <div class="container">

            <div class="navbar-header">
                <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon icon-bar"></span>
                    <span class="icon icon-bar"></span>
                    <span class="icon icon-bar"></span>
                </button>

                <!-- lOGO TEXT HERE -->
                <a asp-action="Index" ><img src="~/images/logo_transparent.png"></a>
            </div>

            <!-- MENU LINKS -->
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a asp-action="Index" class="smoothScroll">Начало</a></li>
                    <li><a asp-action="Info" class="smoothScroll">Информация за рака на гърдата</a></li>
                    <li><a asp-controller="Account" asp-action="DoctorSignIn" class="smoothScroll">Вход за доктори</a></li>
                    <li><a asp-controller="Account" asp-action="PatientSignInUp" class="smoothScroll">Вход за пациенти</a></li>
                </ul>
            </div>

        </div>
    </section>


    <!-- NEWS DETAIL -->
    <section id="news-detail" data-stellar-background-ratio="0.5">
        <div class="container">
            <div class="row">

                <div class="col-md-8 col-sm-7">
                    <!-- NEWS THUMB -->
                    <div class="news-detail-thumb">
                        <div class="news-image">
                            <img src="~/images/infoimage.jpg" class="img-responsive" alt="">
                        </div>
                        <h3>Какво е рака на гърдата?</h3>
                        <p>Ракът на гърдата се развива от клетките на млечната жлеза. Характерен е за женския пол, но се среща и при мъжете, макар и много по-рядко.</p>
                        <blockquote>В световен мащаб ракът на гърдата е най-често срещаният рак при жените, както в развитите, така и в развиващите се страни. Въпреки че се смята, че ракът на гърдата е заболяване, типично за икономически развитите страни, почти 50% от новооткритите случаи и 58% от смъртните случаи са съобщени от развиващи се региони. В Африка честотата на заболяването е 19,3 на 100 000 жени, а в Западна Европа – 89,7 на 100 000.</blockquote>
                        <p>Също както заболеваемостта, така и преживяемостта в различните държави се различава драстично – от над 80% в Северна Америка, Швеция и Япония, през 60% в държавите със средни доходи и под 40% в развиващите се страни. Ниската преживяемост в по-бедните региони може да се обясни с липсата на програми за ранна диагностика, в резултат на което заболяването се диагностицира много по-често в напреднал стадий.</p>
                        <h3>Видове рак на гърдата</h3>
                        <ul>
                            <li>Дуктален карцином;</li>
                            <li>Лобуларен карцином;</li>
                            <li>Инфламаторен карцином;</li>
                            <li>Болест на Пейджет;</li>
                            <li>Филоидни тумори.</li>
                        </ul>
                        <h3>Избор на лечение на при рак на гърдата</h3>
                        <p>
                            Има много възможности за лечение на рак на гърдата, затова е
                            важно грижите за Вас да се поемат от опитен екип. Мултидисциплинарният подход комбинира експертния опит на хирурзи,
                            рентгенолози, патолози, онколози, лъчетерапевти, медицински сестри, социални работници и други при персонализирането на лечението на всеки пациент. Редовно се провеждат
                            онкологични комисии, където се обсъждат пълните курсове
                            на лечение на пациентите. Мултидисциплинарното сътрудничество означава, че ще получите лечението, от което се нуждаете, като не губите време между отделните консултации с
                            различни специалисти.
                            Лабораторните изследвания като например изследвания за
                            хормонални рецептори (естроген и прогестерон) и рецептор
                            на човешки епидермален растежен фактор (HER2/Neu), могат
                            да покажат дали определени хормони или генетични фактори
                            провокират рака да се развива.
                        </p>



                    </div>
                </div>


            </div>
        </div>
    </section>



    <footer data-stellar-background-ratio="5">
        <div class="container">
            <div class="row">

                <div class="col-md-4 col-sm-4">
                    <div class="footer-thumb">
                        <h4 class="wow fadeInUp" data-wow-delay="0.4s">Контакти</h4>
                        <p>Имате въпроси относно здравния раков регистър за рак на гърдата? Свържете се с нас!</p>

                        <div class="contact-info">
                            <p><i class="fa fa-phone"></i> 010-070-0170</p>
                            <p><i class="fa fa-envelope-o"></i> <a href="#">info@zdravenrakovregister.com</a></p>
                        </div>
                    </div>
                </div>




                <div class="col-md-2 col-sm-2 text-align-center">
                    <div class="angle-up-btn">
                        <a href="#top" class="smoothScroll wow fadeInUp" data-wow-delay="1.2s"><i class="fa fa-angle-up"></i></a>
                    </div>
                </div>
            </div>

        </div>
    </footer>
    <!-- SCRIPTS -->
    <script src="~/js/jquery.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/jquery.sticky.js"></script>
    <script src="~/js/jquery.stellar.min.js"></script>
    <script src="~/js/jquery.magnific-popup.min.js"></script>
    <script src="~/js/magnific-popup-options.js"></script>
    <script src="~/js/wow.min.js"></script>
    <script src="~/js/smoothscroll.js"></script>
    <script src="~/js/owl.carousel.min.js"></script>
    <script src="~/js/custom.js"></script>
</body>
</html>