@using CancerRegistry.Identity;
@using Microsoft.AspNetCore.Identity;
@inject SignInManager<ApplicationUser> signInManager;
@inject UserManager<ApplicationUser> userManager;
@{
    var userIs = User.Identity.IsAuthenticated;
    var userId = userManager.GetUserId(User);
    var user = await userManager.FindByIdAsync(userId);
    var userFirstName = user.FirstName;
    var userLastName = user.LastName;
    var fullName = userFirstName + " " + userLastName;
}
<ul class="nav user-menu float-right">
    <li class="nav-item dropdown has-arrow">
        <a href="#" class="dropdown-toggle nav-link user-link" data-toggle="dropdown">
            <span class="user-img">
                <img class="rounded-circle" src="~/assets/img/user.jpg" width="24" alt="Admin">
                <span class="status online"></span>
            </span>
            @if (User.IsInRole("Doctor"))
            {
                <span>д-р @userFirstName @userLastName</span>
            }
            else
            {
                <span>@userFirstName @userLastName</span>
            }
        </a>
        @if (User.IsInRole("Patient"))
        {
            <div class="dropdown-menu">
                <a asp-controller="Account" asp-action="GetPatient" asp-route-id="@@userManager.GetUserAsync(User).Result.FirstName @userManager.GetUserAsync(User).Result.Id" class="dropdown-item">Моят профил</a>
                <a class="dropdown-item" href="edit-profile-patient.html">Редактирай профила</a>
            </div>
        }
        else
        {
            <div class="dropdown-menu">
                <a class="dropdown-item" href="profile-patient.html">Моят профил</a>
                <a class="dropdown-item" href="edit-profile-patient.html">Редактирай профила</a>

            </div>
        }
        <a class="dropdown-item" asp-controller="Account" asp-action="Logout">Излез</a>
    </li>
</ul>
<div class="dropdown mobile-user-menu float-right">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-ellipsis-v"></i></a>
    <div class="dropdown-menu dropdown-menu-right">
        <a class="dropdown-item" href="profile-patient.html">Моят профил</a>
        <a class="dropdown-item" href="edit-profile-patient.html">Редактирай профила</a>
        <a class="dropdown-item" asp-controller="Account" asp-action="Logout">Излез</a>
    </div>
</div>